<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" use-expressions="true">

		<!-- <form-login login-page="/auth/login" login-processing-url="/login"
			default-target-url="/" always-use-default-target="true"
			authentication-failure-url="/login?err=1" username-parameter="email"
			password-parameter="password" /> -->

		<logout logout-url="/auth/logout" logout-success-url="/auth/login"
			delete-cookies="JSESSIONID" invalidate-session="true" />

		<intercept-url pattern="/auth/*" access="permitAll" />
		<intercept-url pattern="/home/**"
			access="hasAnyRole('ROLE_CUSTOMER')" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="r" password="r" authorities="ROLE_CUSTOMER" />
				<user name="z" password="z" authorities="ROLE_CS" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>