<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" use-expressions="true">

		<form-login login-page="/" login-processing-url="/login" 
			authentication-success-handler-ref="customAuthSuccessHandler"
			authentication-failure-url="/?err=1" username-parameter="email"
			password-parameter="password" />

		<logout logout-url="/logout" logout-success-url="/?logout"
			delete-cookies="JSESSIONID" invalidate-session="true" />

		<!-- enable csrf protection -->
		<csrf />
		
		<session-management>
			<concurrency-control max-sessions="1" expired-url="/expired" />
		</session-management>
		

		<!-- Interception rules as per roles -->
		<intercept-url pattern="/home/payment-requests" access="hasRole('ROLE_CUSTOMER')" />
		<intercept-url pattern="/home/payments" access="hasRole('ROLE_CUSTOMER')" />
		<intercept-url pattern="/home/merchant-payment-requests" access="hasRole('ROLE_MERCHANT')" />
		<intercept-url pattern="/home/merchant-payments" access="hasRole('ROLE_MERCHANT')" />
		<intercept-url pattern="/home/**" access="hasAnyRole('ROLE_CUSTOMER,ROLE_MERCHANT')" />
		<intercept-url pattern="/manager/**" access="hasRole('ROLE_MANAGER')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/regular/**" access="hasRole('ROLE_REGULAR')" />
		<intercept-url pattern="/government/**" access="hasRole('ROLE_GOVERNMENT')" />
		
	</http>
	
	<beans:bean id="customAuthSuccessHandler"
        class="com.sbs.group11.configuration.CustomAuthenticationSuccessHandler" />

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" ref="encoder" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select CustomerID, Password as password, Enabled as enabled from user where Email=?"
				authorities-by-username-query="select u.Email, r.Role from User u, Role r where u.CustomerID = r.CustomerID and u.CustomerID = ?" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11" />
	</beans:bean>

</beans:beans>